@page
@model ASP.NET_Entity_Framework.Pages.GameGenres.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameGenre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameGenre.GameId" class="control-label"></label>
                <select asp-for="GameGenre.GameId" class ="form-control" asp-items="ViewBag.GameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameGenre.GenreId" class="control-label"></label>
                <select asp-for="GameGenre.GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
